.bg-maintenance-image {
  background-image: url(../../../almacenamiento/recursos/backgounds/bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
