html{
	max-width: 100%;
	overflow-x:hidden;
}

body{
	max-width: 100%;
	overflow-x: hidden;
	cursor:default;
}

.m-t-10 {
	margin-top: 10px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-30 {
	margin-top: 30px;
}

.m-t-40 {
	margin-top: 40px;
}

.m-t-50 {
	margin-top: 50px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-b-40 {
	margin-bottom: 40px;
}

.m-b-50 {
	margin-bottom: 50px;
}

.m-r-20 {
	margin-right: 20px;
}


.p-0 {
	padding: 0;
}

.p-t-5 {
	padding-top: 5px;
}

.p-t-10 {
	padding-top: 10px;
}

.p-t-20 {
	padding-top: 20px;
}

.p-t-30 {
	padding-top: 30px;
}

.p-t-40 {
	padding-top: 40px;
}

.p-t-50 {
	padding-top: 50px;
}

.p-t-60 {
	padding-top: 60px;
}

.p-t-70 {
	padding-top: 70px;
}

.p-t-80 {
	padding-top: 80px;
}

.p-t-90 {
	padding-top: 90px;
}

.p-t-100 {
	padding-top: 100px;
}

.p-t-110 {
	padding-top: 110px;
}

.p-t-120 {
	padding-top: 120px;
}

.p-t-130 {
	padding-top: 130px;
}

.p-t-140 {
	padding-top: 140px;
}

.p-t-150 {
	padding-top: 150px
}

.p-t-160 {
	padding-top: 160px;
}

.p-t-170 {
	padding-top: 170px;
}

.p-t-180 {
	padding-top: 180px;
}

.p-t-190 {
	padding-top: 190px;
}

.p-t-200 {
	padding-top: 200px
}

.p-t-250 {
	padding-top: 250px
}

.p-t-300 {
	padding-top: 300px
}

.p-t-350 {
	padding-top: 350px
}

.p-t-400 {
	padding-top: 400px
}

.p-t-420 {
	padding-top: 420px
}

.p-t-450 {
	padding-top: 450px
}

.p-t-470 {
	padding-top: 470px
}

.p-t-500 {
	padding-top: 500px
}


.p-b-10 {
	padding-bottom: 10px;
}

.p-b-20 {
	padding-bottom: 20px;
}

.p-b-30 {
	padding-bottom: 30px;
}

.p-b-40 {
	padding-bottom: 40px;
}

.p-b-50 {
	padding-bottom: 50px;
}

.p-b-60 {
	padding-bottom: 60px;
}

.p-b-70 {
	padding-bottom: 70px;
}

.p-b-80 {
	padding-bottom: 80px;
}

.p-b-90 {
	padding-bottom: 90px;
}

.p-b-100 {
	padding-bottom: 100px;
}

.p-b-110 {
	padding-bottom: 110px;
}

.p-b-120 {
	padding-bottom: 120px;
}

.p-b-130 {
	padding-bottom: 130px;
}

.p-b-140 {
	padding-bottom: 140px;
}

.p-b-150 {
	padding-bottom: 150px;
}

.p-b-200 {
	padding-bottom: 200px;
}

.p-b-210 {
	padding-bottom: 210px;
}

.p-b-220 {
	padding-bottom: 220px;
}

.p-b-230 {
	padding-bottom: 230px;
}

.p-b-240 {
	padding-bottom: 240px;
}

.p-b-250 {
	padding-bottom: 250px;
}

.p-b-300 {
	padding-bottom: 300px
}

.p-b-350 {
	padding-bottom: 350px
}

.p-b-400 {
	padding-bottom: 400px
}

.p-b-450 {
	padding-bottom: 450px
}

.p-b-500 {
	padding-bottom: 500px
}

.p-l-40 {
	padding-left: 40px;
}

.m-l-30 {
	margin-left: 30px;
}

.m-l-40 {
	margin-left: 40px;
}


.p-r-40 {
	padding-right: 40px;
}


h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
	margin-top: 0px;
	margin-bottom: 0px;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 1.4em;
}

.panel-title a {
	font-size: 1em;
	font-weight: 400;
	color: rgba(0, 0, 71, 1);
	transition: all ease 300ms;
}

.panel-title a:hover{
	text-decoration: underline;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.texto-mosaico {
	font-size: 1em;
}

.texto-soluciones {
	font-size: 0.7em;
}

.subtitulo-soluciones {
	font-size: 1em;
}

.titulo-modal {
	font-size: 1.2em;
}



.logo-menu {
	padding: 10px;
}


.menu-principal li a {
	font-family: 'Montserrat', sans-serif;
	color: rgba(100,100,100,1);
	font-size: 0.9em;
	font-weight: 400;
	padding: 20px 10px 10px;
	text-transform: uppercase;
	display: block;
}




.menu-movil li a{
	font-family: "Montserrat", sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	list-style: none;
}

.close-modal-pop-up {
	color: rgba(0, 0, 0, 1);
	opacity: 1;
	font-size: 3em;
}


.close-menu-movil {
	color: rgba(0, 0, 0, 1);
	opacity: 1;
	font-size: 3em;
}

.modal-menu-movil {
	background-color: rgba(255,255,255, 0.9) !important;
}

#modal-menu-movil .modal-content-2 {
	background: rgba(255,255,255,0.8);
	box-shadow: none;
	border: 0;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 0.27rem;
	outline: 0;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgb(255, 255, 255, 1);
}


.c-blanco {
	color: rgba(255, 255, 255, 1);
}

.c-azul-01 {
	color: rgba(0, 0, 71, 1);
}

.c-azul-02 {
	color: rgba(41, 171, 226, 1);
}

.c-gris-01 {
	color: rgba(205, 205, 204, 1);
}

.bg-blanco{
	background: white;
}



.btn-enviar {
	background: rgba(0, 0, 71, 1);
	color: rgba(255, 255, 255, 1);
}

.btn-contactar {
	background: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 71, 1);
}

.modal-video {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.close-video {
	color: white;
	opacity: 1;
	font-size: 3em;
}


